@model ServicuerosSA.Models.Lote

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoteId" />
            <div class="form-group">
                <label asp-for="Codigolote" class="control-label"></label>
                <input asp-for="Codigolote" class="form-control" />
                <span asp-validation-for="Codigolote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numerodepieles" class="control-label"></label>
                <input asp-for="Numerodepieles" class="form-control" />
                <span asp-validation-for="Numerodepieles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaingreso" class="control-label"></label>
                <input asp-for="Fechaingreso" class="form-control" />
                <span asp-validation-for="Fechaingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <select asp-for="PersonalId" class="form-control" asp-items="ViewBag.PersonalId"></select>
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPielId" class="control-label"></label>
                <select asp-for="TipoPielId" class="form-control" asp-items="ViewBag.TipoPielId"></select>
                <span asp-validation-for="TipoPielId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
