@model ServicuerosSA.Models.Bodega1

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bodega1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bodega1Id" />
            <div class="form-group">
                <label asp-for="BodegaId" class="control-label"></label>
                <select asp-for="BodegaId" class="form-control" asp-items="ViewBag.BodegaId"></select>
                <span asp-validation-for="BodegaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoteId" class="control-label"></label>
                <select asp-for="LoteId" class="form-control" asp-items="ViewBag.LoteId"></select>
                <span asp-validation-for="LoteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasificacionId" class="control-label"></label>
                <select asp-for="ClasificacionId" class="form-control" asp-items="ViewBag.ClasificacionId"></select>
                <span asp-validation-for="ClasificacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaingreso" class="control-label"></label>
                <input asp-for="Fechaingreso" class="form-control" />
                <span asp-validation-for="Fechaingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEstanteria" class="control-label"></label>
                <input asp-for="NumeroEstanteria" class="form-control" />
                <span asp-validation-for="NumeroEstanteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
